/* Responsive image size */
* {
  padding: 0px;
  margin: 0px;
}

img {
	width: 24%;
}

@media screen and (max-width: 900px) {
  img {
    width: 32%;
  }
}
@media screen and (max-width: 600px) {
  img {
    width: 49%;
  }
}
@media screen and (max-width: 300px) {
  img {
    width: 100%;
  }
}
